/1000033287.jpg
/1000033288 (1).jpg
/1000033288.jpg
/1000033289.jpg
/1000051234.jpg
/1000074836 (1).jpg
/1000074836.jpg
/1000074837.jpg
/1000121194.jpg
/1000121549.png
/1000121955.jpg
/1000121956.jpg
/10293024-5748216-Minor_Project_01-WB_(1).pdf
/10427895-Minor_Project_05-WD_(2) (1).pdf
/10427895-Minor_Project_05-WD_(2).pdf
/12710600-sharvari_portfolio.zip
/1784450116918.png
/8. Zener Diode_VLABS SSP_SKK (2).pdf
/a7843e58-04e6-4253-b0bd-bb5f0248fd19.png
/Aawaz Do Humko Sad Dushman 128 Kbps.mp3
/ADS PPT (1).ppt
/ADS PPT.ppt
/ai-skills-fest-2026.png
/Ami Je Tomar 3.0(KoshalWorld.Com).mp3
/Angaaron(KoshalWorld.Com).mp3
/ANSWER KEY OF K-Map (Karnaugh Map) – University Level Important Questions & Answers.pdf
/Antigravity-x64.exe
/certIcon.webp
/ChatGPT Image Sep 13, 2026, 02_58_40 PM.png
/ChatGPT Image Sep 13, 2026, 03_03_56 PM.png
/ChatGPT Image Sep 13, 2026, 03_44_29 PM.png
/ChatGPT Image Sep 13, 2026, 03_55_29 PM.png
/ChatGPT Image Sep 13, 2026, 04_19_45 PM.png
/ChatGPT Image Sep 13, 2026, 11_00_46 PM.png
/ChatGPT Image Sep 3, 2026, 07_00_20 PM.png
/chrome.exe
/class test solution.pdf
/codetantra certifcate.pdf
/Constitution_Rights_Governance_Exam_Answers (1).pdf
/Constitution_Rights_Governance_Exam_Answers (2).pdf
/Constitution_Rights_Governance_Exam_Answers.pdf
/cpp_questions_answers (1).pdf
/cpp_questions_answers.pdf
/Cybersecurity_Ethical_Hacking-2.pptx
/debug.log
/Deewana Hai Dekho(KoshalWorld.Com).mp3
/desktop.ini
/DLD QUESTION BANK UP QUESTIONES.pdf
/EC Unit 1 Advance Materials.pdf
/Entrepreneurship_Easy_Notes.pdf
/epms unit 2.pdf
/FINAL REPORT.pdf
/first
/FOE #.pptx
/FOE (1).pptx
/FOE (2).pptx
/FOE PPT.pptx
/FOE.pptx
/FoE_Notes (MSE).pdf
/Gemini_Generated_Image_1j4nng1j4nng1j4n.png
/Gemini_Generated_Image_1rykxw1rykxw1ryk.png
/Gemini_Generated_Image_248yg248yg248yg2.png
/Gemini_Generated_Image_4vy4el4vy4el4vy4.png
/Gemini_Generated_Image_5634vz5634vz5634.png
/Gemini_Generated_Image_726sjv726sjv726s.png
/Gemini_Generated_Image_80wy5e80wy5e80wy.png
/Gemini_Generated_Image_b4pk7sb4pk7sb4pk.png
/Gemini_Generated_Image_bzf029bzf029bzf0.png
/Gemini_Generated_Image_ci21n6ci21n6ci21.png
/Gemini_Generated_Image_d6zooed6zooed6zo.png
/Gemini_Generated_Image_dqi3g6dqi3g6dqi3 (1).png
/Gemini_Generated_Image_dqi3g6dqi3g6dqi3.png
/Gemini_Generated_Image_e0lq8ye0lq8ye0lq.png
/Gemini_Generated_Image_jixetpjixetpjixe.png
/Gemini_Generated_Image_jx3hkrjx3hkrjx3h.png
/Gemini_Generated_Image_l5igi4l5igi4l5ig.png
/Gemini_Generated_Image_lm2x00lm2x00lm2x.png
/Gemini_Generated_Image_oucu45oucu45oucu.png
/Gemini_Generated_Image_qphf6vqphf6vqphf.png
/Gemini_Generated_Image_s080ucs080ucs080.png
/Gemini_Generated_Image_s1gsyos1gsyos1gs.png
/Gemini_Generated_Image_t1kt8ft1kt8ft1kt.png
/Gemini_Generated_Image_wpft5rwpft5rwpft.png
/Gemini_Generated_Image_za6f3yza6f3yza6f.png
/gen Ai certificate.pdf
/Git-2.54.0-64-bit.exe
/Git-2.55.0.3-64-bit.exe
/god lord krishna.png
/Handsheking theorem.pdf
/https___mywebar.com_p_Project_0_kc3rdm9vla-at-mywebar.com (1).png
/https___mywebar.com_p_Project_0_kc3rdm9vla-at-mywebar.com (2).png
/https___mywebar.com_p_Project_0_kc3rdm9vla-at-mywebar.com.png
/https___mywebar.com_p_Project_1_dnkq7oet0c-at-mywebar.com (1).png
/https___mywebar.com_p_Project_1_dnkq7oet0c-at-mywebar.com (2).png
/https___mywebar.com_p_Project_1_dnkq7oet0c-at-mywebar.com.png
/iks Video links week 1 to week 8 (1).docx
/iks Video links week 1 to week 8 (2).docx
/iks Video links week 1 to week 8 (3).docx
/iks Video links week 1 to week 8 (4).docx
/iks Video links week 1 to week 8 (5).docx
/iks Video links week 1 to week 8 (6).docx
/iks Video links week 1 to week 8 (7).docx
/iks Video links week 1 to week 8.docx
/IMG-20251026-WA0031.jpg
/IMG_20250628_110435_1.jpg
/IMG_20250630_193539.jpg
/IMG_20260223_211038.jpg
/IMG_20260627_161054.jpg
/IMG_20260719_140006.png
/IMG_20260721_150801.jpg
/IMG_20260721_150817.jpg
/IMG_20260721_150833.jpg
/IMG_20260721_151625.jpg
/IMG_20260721_151633.jpg
/IMG_20260721_152244.jpg
/IMG_20260721_152255.jpg
/IMG_20260721_152312.jpg
/IMG_20260721_153632.jpg
/IMG_20260721_154432.jpg
/IMG_20260721_154450.jpg
/index.html
/INDIAN KNOWLEDGE SYSTEM NOTES WEEK 1 TO 4.docx
/Is This Love(KoshalWorld.Com).mp3
/ishwari s p.pdf
/k-map question.docx.pdf
/Kushal Patil (1).docx
/Kushal Patil.docx
/Lab Manual_BCS-II.pdf
/Lanezy PPT main.pdf
/Lanezy PPT main.pptx
/Ls. no 1 (1).pdf
/Ls. no 1.pdf
/Manwa Laage(KoshalWorld.Com).mp3
/MCQ_Question_Bank_Innovation, Business Models and Entrepreneurship(MDM-I).pdf
/Modern 2-story luxury duplex house facade on a 24-foot total-width plot, designed as a clear two-level duplex residence with a ground-floor salon frontage. The left 8 feet feature a dark metal slat car gate wit (1).jpg
/Modern 2-story luxury duplex house facade on a 24-foot total-width plot, designed as a clear two-level duplex residence with a ground-floor salon frontage. The left 8 feet feature a dark metal slat car gate with a.jpeg
/Modern 2-story luxury duplex house facade on a 24-foot total-width plot, designed as a clear two-level duplex residence with a ground-floor salon frontage. The left 8 feet feature a dark metal slat car gate with an.jpg
/MSE QB Answers.pdf
/MSE QB.pdf
/mysql-installer-community-8.0.46.0.msi
/NOC26CS87S1161801248.pdf
/node-v24.16.0-x64 (1).msi
/node-v24.16.0-x64.msi
/nptel certificate.pdf
/OnVUE-26.11.96 (1).exe
/OnVUE-26.11.96 (2).exe
/OnVUE-26.11.96 (3).exe
/OnVUE-26.11.96 (4).exe
/OnVUE-26.11.96 (5).exe
/OnVUE-26.11.96.exe
/oop 1 (1).pdf
/oop 1 (2).pdf
/oop 1.pdf
/OOPQUEBANKKEYFINAL.pdf
/oops.pdf
/Optical Fibre 25-26 (1).pdf
/Optical Fibre 25-26.pdf
/Param Sundari(KoshalWorld.Com).mp3
/Pehla Nasha(KoshalWorld.Com).mp3
/Pehla Pehla Pyar Spbalasubhramaniam Hum Aapke Hain Koun 128 Kbps.mp3
/photo passport.jpg
/PolarGrid-AI (1).html
/PolarGrid-AI (2).html
/PolarGrid-AI (3).html
/PolarGrid-AI.html
/PolarGrid_AI_SIH26061_Finalist_Template_Style.pptx
/PPT Submission Guidelines.pdf
/Practice Test.pdf
/Preamble.pdf
/preview.html
/PROJECT.pdf
/python-3.12.4-amd64.exe
/Que Bank Unit 2&3 (1).pdf
/Que Bank Unit 2&3.pdf
/Question Bank Unit -I  TO BE SHARED WITH STUDENTS (1).pdf
/Question Bank Unit -I  TO BE SHARED WITH STUDENTS.pdf
/question bank.xlsx
/Question paper- Format.pdf
/Raabta(KoshalWorld.Com).mp3
/Radha(KoshalWorld.Com).mp3
/Receipt_Sharvari Bhoyar_PAYU_PENDING_1779006507229_153377.pdf
/Routing Algorithm_25010015.docx
/Saathiya  Yeh Tune Kya Kiya [128 Kbps]-(SongsPk.com.se).mp3
/Saathiyaa(KoshalWorld.Com).mp3
/Saiyaara Reprise (Female Version)(KoshalWorld.Com).mp3
/SBH2026_SVPCET_CODEWARRIORS_SHARVARIBHOYAR_1458.pptx
/SB_A4 (1).pdf
/SB_A4.pdf
/Screenshot 2025-12-05 154224 (1).png
/Screenshot 2025-12-05 154224.png
/Screenshot 2025-12-05 154855.png
/Screenshot 2025-12-05 160103.png
/Screenshot 2025-12-05 160436.png
/Screenshot 2025-12-05 160635.png
/Screenshot 2025-12-05 160839.png
/SHARVARI BHOYAR (1).png
/SHARVARI BHOYAR (2).png
/SHARVARI BHOYAR (3).png
/SHARVARI BHOYAR.png
/sharvari project sp.pdf
/SIH2026-IDEA-Presentation-Format (1).pptx
/SIH2026-IDEA-Presentation-Format.pptx
/SIH_2026_20_Best_UNIQUE_SOFTWARE_PS_with_IDs.pdf
/solar_energy_management_light_v2 (1).html
/solar_energy_management_light_v2.html
/syllabus - Subunit (1).docx
/syllabus - Subunit.docx
/TCP_IP_Model_and_Cellular_Network_CN_Presentation (1).pdf
/TCP_IP_Model_and_Cellular_Network_CN_Presentation (1).pptx
/TCP_IP_Model_and_Cellular_Network_CN_Presentation.pptx
/Teal and Orange Clean Marketing Plan Presentation.pdf
/Teri ore(KoshalWorld.Com).mp3
/Unconfirmed 450947.crdownload
/Unconfirmed 653146.crdownload
/UNIT 1 TO UNIT 3 ANSWER KEY EXCEL.pdf
/Unit 2 ELECTRO-CHEMICAL PHENOMENON & BATTERY TECHNOLOGY.pdf
/unit 2 Physics.pdf
/Unit 3 Chemistry of E-waste (1).pdf
/Unit 3 Chemistry of E-waste.pdf
/unit 3 physics.pdf
/UNIT III QM updated.pdf
/vlc.exe
/VSCodeUserSetup-x64-1.108.1.exe
/WhatsApp Image 2025-12-05 at 9.12.20 PM.jpeg
/WhatsApp Image 2026-01-05 at 6.03.06 PM.jpeg
/WhatsApp Image 2026-01-05 at 6.03.07 PM.jpeg
/WhatsApp Image 2026-01-05 at 7.49.58 AM.jpeg
/WhatsApp Image 2026-02-19 at 8.17.36 PM.jpeg
/WhatsApp Image 2026-02-19 at 8.17.52 PM.jpeg
/WhatsApp Image 2026-02-19 at 8.18.02 PM.jpeg
/WhatsApp Image 2026-02-19 at 8.26.38 PM.jpeg
/WhatsApp Image 2026-02-19 at 9.09.50 PM.jpeg
/WhatsApp Image 2026-02-19 at 9.09.51 PM.jpeg
/WhatsApp Image 2026-03-04 at 2.33.37 PM (1).jpeg
/WhatsApp Image 2026-03-04 at 2.33.37 PM.jpeg
/WhatsApp Image 2026-03-04 at 2.36.04 PM (1).jpeg
/WhatsApp Image 2026-03-04 at 2.36.04 PM.jpeg
/WhatsApp Image 2026-03-04 at 2.38.22 PM.jpeg
/WhatsApp Image 2026-03-04 at 9.40.49 PM.jpeg
/WhatsApp Image 2026-03-04 at 9.44.51 PM.jpeg
/WhatsApp Image 2026-03-04 at 9.47.38 PM.jpeg
/WhatsApp Image 2026-03-06 at 7.21.30 AM.jpeg
/WhatsApp Image 2026-03-06 at 7.21.37 AM.jpeg
/WhatsApp Image 2026-03-22 at 9.11.01 PM.jpeg
/WhatsApp Image 2026-03-27 at 7.30.23 PM.jpeg
/WhatsApp Image 2026-03-27 at 7.30.24 PM (1).jpeg
/WhatsApp Image 2026-03-27 at 7.30.24 PM.jpeg
/WhatsApp Image 2026-09-03 at 7.10.44 PM.jpeg
/WhatsApp Image 2026-09-03 at 9.46.30 PM.jpeg
/WhatsApp Image 2026-09-05 at 4.44.39 PM.jpeg
/WhatsApp Unknown 2026-03-27 at 7.34.49 PM.zip
/WhatsApp Video 2026-08-26 at 11.21.34 PM.mp4
/Yeh Silsila Hai Pyar Ka Alka Yagnik 128 Kbps.mp3
/Zener diode as voltage regulator.pdf
/ZoomInstallerFull.exe
/_public_confirmations_confirmation-Sharvari_Bhoyar.pdf
/{74B82053-AE6E-4199-9CE9-87F134DB3DEF}.png
/{8412A1AC-FC26-44F5-B4E9-5687B209FE97}.png
/{C68BB51A-85E9-4290-A65D-68338A0DF17F}.png